extends layout.pug

block head
  style(type='text/css')= style
  script(charset='utf-8' type='text/javascript')= script

block content
  div(id='count')
  script(charset='utf-8' type='text/javascript')= count
