extends layout.pug

block head
  style(type='text/css')
    include ../css/basscss.min.css
  style(type='text/css')
    include ../css/chartist.min.css
  style(type='text/css')
    include ../css/chartist-plugin-legend.min.css
  script(charset='utf-8' type='text/javascript')
    include ../js/chartist.min.js
  script(charset='utf-8' type='text/javascript')
    include ../js/plugins/chartist-plugin-axistitle.min.js
  script(charset='utf-8' type='text/javascript')
    include ../js/plugins/chartist-plugin-pointlabels.min.js
  script(charset='utf-8' type='text/javascript')
    include ../js/plugins/chartist-plugin-legend.min.js

block content
  div(id='count')
  script(charset='utf-8' src='./errors-count.js' type='text/javascript')
