extends layout.pug

block head
  style(type='text/css')
    include ../css/basscss.min.css
    include ../css/chartist.min.css
  script(charset='utf-8' type='text/javascript')
    include ../js/chartist.min.js
    include ../js/plugins/chartist-plugin-axistitle.min.js
    include ../js/plugins/chartist-plugin-pointlabels.min.js

block content
  div(id='min')
  script(charset='utf-8' src='./latency-min.js' type='text/javascript')

  div(id='mean')
  script(charset='utf-8' src='./latency-mean.js' type='text/javascript')

  div(id='max')
  script(charset='utf-8' src='./latency-max.js' type='text/javascript')

  div(id='percentiles')
  script(charset='utf-8' src='./latency-percentiles.js' type='text/javascript')
